body {
  padding:150px 0 0 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.9) 0%, rgba(235, 242, 248, 0.9) 103.81%), linear-gradient(22.11deg, #FFFFFF 24.97%, rgba(235, 127, 49, 0.3) 45.28%, rgba(71, 209, 143, 0.3) 67.82%);
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
